<!DOCTYPE html>
<html>
    <head>
        <title>Instructions</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="nav-bar" style="background-color: #ffffff;">
            <h1 class="product_name">UNITE MOJO</h1>
            <a href="instructions.html" class="myButton1" style="background-color: #ffffff;"><span id="instructions">Start</span></a>
            <a href="index.html" class="myButton1"style="background-color: #ffffff;"><span id="index">Home</span></a>
        </div>
        <div class="main_instructions">
            <div class="heading">
                <h1 class="Question1">Instructions</h1>  
                              
            </div>
            <div class="Instructions">
                
                <p class="answer">
                    1. First of all you need to click the Start button at the bottom of the instructions.<br>
                    2. After pressing the Start button it will take some time to load and then few windows will open.<br>
                    3. There will be 3 windows one will capture the live camera feed and in the other two images you will be able to see the countour images.<br>
                    4. In the window where you will be able to see the live camera feed there will be a green rectangle.<br>
                    <img src="/static/test.png" class="testImage" ><br>
                    5. Now position your hand in the green box and make sure you have a clear background in the green rectabgle region.<br>
                    6. Now to start capturing the hand sign and start transcribing it press 'C'.<br>
                    7. The live text to speech will start automatically once it is loaded.<br>      
                    8. To quit the program press 'Q'.<br>
                </p>
            </div>
            <div class="StartButton"><a href="/upload" class="Get_Started" style="padding-left: 44px; padding-right: 44px;">Start</a></div>
            
        </div>
        <script src="/static/color.js"></script>
    </body>
</html>