<html>
    <head>
        <title>Thank You</title>
<link rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    </head>
    <body style="background-color: #f6f6f6;">
        <div id="nav-bar">
            <h1 class="product_name">UNITE MOJO</h1>
            <a href="instructions.html"  class="myButton1"><span id="instructions">Start</span></a>
            <a href="index.html"  class="myButton1"><span id="index">Home</span></a>
        </div>
        <div  style="margin-left: 25%;margin-right: 25% ;margin-top:17%;text-align: center;">
            <h1 style="font-family: 'Pacifico', cursive;color: #66bfbf;font-size: 83px;">Thank You</h1>
        </div>
    </body>
</html>